fastapi==0.115.6
uvicorn[standard]==0.34.0
gunicorn==23.0.0
SQLAlchemy==2.0.36
psycopg2-binary==2.9.10
pydantic-settings==2.7.1
python-dotenv==1.0.1
alembic==1.14.0
PyPDF2==3.0.1
python-multipart==0.0.20
requests==2.32.3
PyJWT==2.10.1
